/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.cf {
  clear: both;
}

.cf-a{
	clear: both;
	margin-top:15px;
}
/* 2. Content ================================= */

body{
  font-family: "mr-eaves-modern", sans-serif;

}

* {
  box-sizing: border-box;
}

ul.nav{
  list-style-type: none;
  margin:0px;
  padding:0px;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

li{
  display: inline;
  padding: 10px;
}

li a{
  text-decoration: none;
  color:black;
}

.border{

  width: 96%;
  height: 450px;
  padding: 20px;
  margin: auto;
  background-color: transparent;
  border: 15px solid #FFCA1E;
 
}

.FOH-button{
  padding: 10px;
  color:white;
  background-color: black;
  font-family: helvetica;
  font-weight: bold;
  font-size: 15px;
 
}


@media screen and (min-width: 320px) and (max-width: 599px) {

	body{
		background-color: blue;
	}

	h1.tagline{
  		font-size: 2em;
  		position: relative;
  		top:215px;
	}

	.FOH-button{
	 position:relative;
	 top: 225px;
	}
  
	.WWWD{
	  font-family: "mr-eaves-modern";
	  font-weight: bold;
	  font-size: 5.5em;
  	}

  	.WWWD.w1{
	 position: absolute;
	 top: -55px;
	 left:-10px;
	}

	.WWWD.w2{
	  position: absolute;
	  top:-55px;
	  right:-5px;
	}

	.WWWD.w3{
	  position: absolute;
	  top:-55px;
	  left:-10px;
	}

	.WWWD.wd{
	  position: absolute;
	  top:-55px;
	  left:-8px;
	}

	.equator{

	  clear: right;
	  width: 100%;
	  height: auto;
	  margin: auto;
	  padding: 10px;
	  text-align: center;
	  background-color: black;
	  color:#FFFFFF;
	}

	p.you-are{
	  font-size: 50px;
	}

	.info{
	  /*max-width: 1050px;*/
	  width: 95%;
	  height: auto;
	  margin-top: 45px;
	  padding: 20px;
	  background-color: #FFCA1E;
	  position: relative;
	}


	.info.one{
	  float: right;
	  margin-right: 2%;
	}

	.W-a{
	  padding: 15px;
	  font-size: 1.3em;
	}


	.info.two{
	  /*clear:right;*/
	  margin-top:55px;
	  margin-left: 2%;
	}

	.info.three{
	  /*float:right;*/
	  float: right;
	  margin-right: 2%;
	  
	}

	.info.four{
	  /*clear:right;*/
	  margin-left: 2%;
	}


}

@media only screen and (min-width: 600px) {

	body{
		background-color: green;
	}

	h1.tagline{
  		font-size: 3em;
  		position: relative;
  		top:155px;
	}

	.FOH-button{
	 position:relative;
	 top: 165px;
	}

	.WWWD{
	  font-family: "mr-eaves-modern";
	  font-weight: bold;
	  font-size: 6em;
  
	}

	.WWWD.w1{
	 position: absolute;
	 top: -55px;
	 left:-139px;

	}

	.WWWD.w2{
	  position: absolute;
	  top:-55px;
	  right:-162px;
	}

	.WWWD.w3{
	  position: absolute;
	  top:-55px;
	  left:-139px;
	}

	.WWWD.wd{
	  position: absolute;
	  top:-55px;
	  right:-139px;
	}

	.equator{

	  clear: right;
	  width: 100%;
	  height: auto;
	  margin: auto;
	  padding: 10px;
	  text-align: center;
	  background-color: black;
	  color:#FFFFFF;
	}

	p.you-are{
	  font-size: 50px;
	}

	.info{
	  /*max-width: 1050px;*/
	  width: 60%;
	  height: auto;
	  margin-top: 45px;
	  padding: 20px;
	  background-color: #FFCA1E;
	  position: relative;
	}


	.info.one{
	  float: right;
	  margin-right: 1%;
	}

	.W-a{
	  padding: 15px;
	  font-size: 1.3em;
	}


	.info.two{
	  /*clear:right;*/
	  margin-top:55px;
	  margin-left: 1%;
	}

	.info.three{
	  /*float:right;*/
	  float: right;
	  margin-right: 1%;
	  
	}

	.info.four{
	  /*clear:right;*/
	  margin-left: 1%;
	}

}

/*# sourceMappingURL=main.css.map */